<div class="pagination d-flex justify-content-end align-items-center p-2 gap-3">
    <div class="d-flex gap-2 align-items-center">
        <p>Items Per Page:</p>
        <select name="" class="pageSize">
            <option value="5">5</option>
            <option value="10">10</option>
            <option value="20">20</option>
        </select>
    </div>
    <div class="d-flex gap-2 align-items-center">
        <p class="stats">Showing 1-5 of 13</p>
        <button class="border-0 p-1 prev-page"><i class="fa-solid fa-chevron-left"></i></button>
        <button class="border-0 p-1 next-page"><i class="fa-solid fa-chevron-right"></i></button>
    </div>
</div>